
/* BORDER BOX FOR ALL ELEMENTS */
*, *:before, *:after {
  box-sizing: border-box;
}


/* BODY STYLING */
body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  background-color: #000;
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
}

.restaurant-list {
  display: inline-block;
  background-color: #FFF;
  padding-top: 12%;
  width: 100%;
}

.content {
  display: inline-block;
  height: 100%;
  width: 90%;
}

/* Arrows */
.arrow-left {
  margin: 1%;
}

.arrow  {
  display: inline-block;
  margin-top: 1%;
  margin-right: 1%;
}

/* Headers */
h1 {
  font-size: 17px;
  font-weight: bold;
  padding-top: 5%;
  padding-bottom: 1%;
  padding-left: 5%;
}

h3 {
  font-size: 14px;
  padding-bottom: 5%;
  padding-left: 5%;
}

/* Border */
.location {
  border: 1px solid;
  border-color: #c7c7c7;
}

/* Background Color Change on Hover */
.location:hover {
  background-color: #c7c7c7;
}
